<!DOCTYPE html>
<html>
    <head>
        <title>Eliminar Destino</title>
    </head>
    <body>
        <div class="container mt-5">
            <h2>¿Seguro que deseas eliminar "{{ destino.nombreCiudad }}"?</h2>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                <a href="{% url 'listar_destinos' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </body>
</html>